/** --------------------------------------------------------------
 * Breadcrumb
 */
ul.breadcrumb {
    list-style-type: none;
    margin: 0 0 22px 0;
    padding: 0;
}

ul.breadcrumb li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul.breadcrumb a {
    font-size: 0.85em;
    color: #666;
    text-decoration: none;
}

ul.breadcrumb a:hover {
    color: #333;
    text-decoration: underline;
}
