/**
 * General elements
 */
 html {
     overflow-y: scroll;
 }

body {
    color: #333;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}


/**
 * Layout of the main page elements
 */
#wrapper {
    margin: 0 auto;
    padding: 10px;
    width: 980px;
}


/**
 * Layout for header
 */
#header {
  margin-bottom: 20px;
  position: relative;
}

.sitetitle {
    font-size: 48px;
    left: 130px;
    position: absolute;
    top: 6px;
}

.siteslogan {
    color: #666;
    font-style: italic;
    left: 130px;
    position: absolute;
    top: 65px;
}


/**
 * Layout for navigation bar
 */
.navbar {
    background: #396a2f;
    background: linear-gradient(#396a2f, #55a046);
    border-radius: 7px;
    margin-top: 5px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
    display: inline-block;
    position: relative; /* New - to place the drop-down menu correctly */
}

.navbar a {
    white-space: nowrap; /* New - to make the drop-down menu items stay on one row */
    text-decoration: none;
    color: #fff;
    margin-left: .5em;
    padding: .5em;
    display: block;

}

.navbar li a.selected-parent, /* New - to style the selected parent */
.navbar a.selected {
  color: #f5a06e;
}

.navbar li a:hover {
    color: #f5a06e;
}


/* New - to style the submenu, start by hiding it using absolute positioning */
.navbar ul ul {
  background-color: #396a2f;
  background: linear-gradient(#55a046, #396a2f);
  padding: 8px;
  position: absolute;
  left: -9999px;
  z-index: 2;
}

/* Display the submenu when hovering the list element, absolute positioning */
.navbar li:hover ul {
    left: 0;
}

/* New - style items of the submenu when hovering and selected */
.navbar li li a:hover,
.navbar li li a.selected {
  color: #f5a06e;
}


/**
 * Layout for main
 */
#main {
    min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
    border-top: 1px solid #396a2f;
    margin-top: 40px;
    padding-top: 15px;
}

.sitefooter {
    color: #666;
}

.sitefooter a {
    color: #55a046;
}

.sitefooter a:visited {
    color: #396a2f;
}

.sitefooter a:hover {
    color: #ffa31a;
}


/**
 * Layout for me page
 */
.me-picture {
    float: right;;
	padding-left: 1em;
    width: 250px;
}


/**
 * Responsive layout
 */
@media (max-width: 1050px) {
    #wrapper {
      width: auto;
    }
}

@media (max-width: 670px) {
    /* Layout for header */
    .sitetitle {
        font-size: 40px;
    }

    .siteslogan {
        font-size: .8em;
    }

    .navbar ul {
        background: #fff;
    }

    .navbar li {
        display: block;
    }

    /* Navigation bar */
    .navbar a {
        background: #396a2f;
        background: linear-gradient(#396a2f, #55a046);
        border-radius: 7px;
        margin-bottom: .3em;
        margin-left: 0;
        padding: .1em;
        text-align: center;
    }

    .navbar ul ul {
      background-color: #396a2f;
      background: linear-gradient(#55a046, #396a2f);
      padding: 0;
      position:relative;
      left: 0;
      z-index: 0;
    }

    .navbar li ul {
        background: #fff;
    }


    /* Layout for me-page */
    .me-picture {
        width: 200px;
    }
}


@media (max-width: 500px) {
    /* Layout for header */
    .sitetitle {
        font-size: 28px;
    }

    .siteslogan {
        font-size: .5em;
    }


    /* Layout for me-page */
    .me-picture {
        width: 120px;
    }
}
